<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.thetoast.glass.glasshue"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name="net.thetoast.glass.glasshue.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity-alias
            android:label="@string/configure"
            android:name="configure"
            android:targetActivity="net.thetoast.glass.glasshue.MainActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_default" />
        </activity-alias>
        
        <activity-alias
            android:label="@string/test_connection"
            android:name="test_connection"
            android:targetActivity="net.thetoast.glass.glasshue.MainActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_default" />
        </activity-alias>
        
        <activity-alias
            android:label="@string/flash_lights"
            android:name="flash"
            android:targetActivity="net.thetoast.glass.glasshue.MainActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_id" />
        </activity-alias>
        
    	<activity-alias
            android:label="@string/turn_on_lights"
            android:name="on"
            android:targetActivity="net.thetoast.glass.glasshue.MainActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_id" />
        </activity-alias>
        
        <activity-alias
            android:label="@string/turn_off_lights"
            android:name="off"
            android:targetActivity="net.thetoast.glass.glasshue.MainActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_id" />
        </activity-alias>
        
	</application>

</manifest>
